.Form {
    max-width: 60%;
    width: 40em;
    padding: 2em;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    border: 3px solid rgba(220, 220, 220);
    border-radius: 4em 1em;

    box-shadow: inset 0 0 15px #DCDCDC;
    gap: 1.2em;
}
.Form-container {
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 1em;
    /* border: 1px solid #000; */
}
.Form-label {
    /* border: 1px solid #000; */
    font-family: var(--fuente_primaria);
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: .3em;
}
.Form-input {
    background: none;
    padding: .6em;
    

}
.Form-button {
    padding: .6em;
    font-family: var(--fuente_primaria);
    border: 2px solid #282828;
    border-radius: 40%;
    font-weight: bold;
    font-size: 1.1em;
    background: none;
    box-shadow: .4em .4em .1em #282828;
    
    transition: all .2s ease;
}
.Form-button:hover {
    cursor: pointer;
    background: rgba(220, 220, 220, .6);
}
.Form-button:active {
    box-shadow: 0 0 .4em #282828;
}