.App {
    width: 100vw;
    min-height: 100vh;
    margin: auto;

    display: grid;
    place-items: center;




    background: linear-gradient(180deg, #a6ffff 0, #a2edff 25%, #9dd5f2 50%, #96bed5 75%, #8ea8b9 100%);
}
